html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  background: #EFEFEF;
}

#page-head {
  background: #472C1B;
  height: 100px;
  width: 100%;
}

#user-container {
  font-size: 14px;
  color: #964e1b;
  display: inline;
  margin-right: 30px;
  margin-top: 10px;
  position: absolute;
  right: 0;
}

#user-container:hover {
  cursor: pointer;
}

.user-text {
  margin: 0;
}

#nav-bar {
  height: 100%;
  width: 100%;
}

#logo-container {
  margin-top: 15px;
  margin-right: 25px;
  float: right;
  min-width: 390px;
}

#logo-text {
  display: inline;
  color: #EF931F;
  font-size: 50px;
}

.arrow-icon {
  height: 40px;
  padding-left: 10px;
}

#food-logo {
  height: 60px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  bottom: -50px;
  color: #EF931F;
  display: inline;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}

#share-header{
  color: #7D451B;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 25px;
}

#card-storage {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
}

.recipe-card{ 
  min-height: 400px;
  height: 50%;
  background: white;
  margin-bottom: 10px;
  margin-right: 10px;
  min-width: 250px;
  width: 23.5%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .2);
}

.recipe-card:hover {
  cursor: pointer;
}

.recipe-content {
  height: 25%;
  width: 100%;
}

.image-container {
  position: relative;
  background-image: url("images/food-image.jpg");
  background-repeat: no-repeat;
  background-size: 325px;
  height: 125px;
  width: 100%;
}

.icon {
  height: 15px;
  margin-right: 6px;
  vertical-align: middle;
}

li p {
  display: inline;
  margin-right: 15px;
  font-size: 12px;
}

.card-header {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
  color: #2B2B2B;
}

.card-text {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 2px;
  color: lightgrey;
}

.link-container {
  margin: 15px 15px;
  height: 50px;
  width: 90%;
  background: lightgrey;
  opacity: .7;
}

.cookbook-name {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 2px;
}

#link-text {
  margin-left: 5px;
  padding-top: 5px;
  color: #2B2B2B;
}

.attachment-number {
  margin-top: 0px;
  margin-left: 15px;
  padding-bottom: 20px;
  font-size: 34px;
  color: #00b749;
  font-weight: 200;
}

@media screen and (max-width: 755px) {
  li {
    bottom: -30px;
  }
}

@media screen and (max-width: 460px) {
  li {
    margin: 0;
    margin-left: 15px;
  }

  li p {
    font-size: 10px;
  }

  #share-header {
    margin-left: 0;
    text-align: center;
  }

  #user-container {
    left: 0;
    margin-left: 15px;
    margin-top: 5px;
  }

  .user-text{
    margin-top: 0;
    font-size
  }

  #logo-container {
    float: none;
    text-align: center;
    margin-top: 15px;
  }

  .recipe-card {
    margin: 5px auto;
  }

  .card-storage {
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  li p{
    margin-right: 0;
  }
  #logo-text {
    font-size: 40px;
  }

  #food-logo {
    height: 40px;
  }

  #logo-container {
    margin-top: 35px;
    min-width: 100%;
  }
}
