body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  background: #EFEFEF;
}

#page-head {
  background: #2B2B2B;
  height: 75px;
  width: 100%;
}

#user-container {
  color: #2F80AC;
  display: inline;
  margin-right: 15px;
  margin-top: 10px;
  position: absolute;
  right: 0;
}

#nav-bar {
  height: 100%;
  width: 100%;
}

li {
  bottom: -45px;
  color: #8B8B8B;
  display: inline;
  margin-left: 15px;
  position: relative;
  cursor: pointer;
}

#share-header{
  color: #4D4D4D;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 25px;
  width: 100%;
}

#card-storage {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.recipe-card{ 
  height: 375px;
  background: white;
  margin-bottom: 10px;
  margin-right: 10px;
  min-width: 250px;
  width: 23.5%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .2);
}

.recipe-content {
  height: 25%;
  width: 100%;
}

.image-container {
  position: relative;
  background-image: url("images/skilletchicken.jpg");
  background-repeat: no-repeat;
  background-size: 325px;
  height: 125px;
  width: 100%;
}

.icon {
  height: 15px;
  margin-right: 5px;
}

li p {
  display: inline;
  vertical-align: text-top;
  font-size: 15px;
}

.card-header {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 15px;
  color: #2B2B2B;
}

.card-text {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 2px;
  color: lightgrey;
}

.link-container {
  margin: 15px 15px;
  height: 50px;
  width: 90%;
  background: lightgrey;
  opacity: .7;
}

.cookbook-name {
  font-size: 18px;
  margin-left: 15px;
  margin-top: 2px;
}

#link-text {
  margin-left: 5px;
  padding-top: 5px;
  color: #2B2B2B;
}

.attachment-number {
  margin-left: 15px;
  font-size: 34px;
  color: #34B5FC;
}

